<div class="page-width">
  <div class="logo-wrapper" style="height:800px">
    <img class="logo" src="{{ 'logo.svg' | asset_url }}">
  </div>
  <div data-aos="fade-up" class="copy">
    <p>Coloral, the original cycling bottle, is making a return to the bike in Summer&nbsp;2018.<br />
    Please add your details below and we will keep you informed of progress.<br />
    Thanks for your support.<p>
      <!-- Begin MailChimp Signup Form -->
  </div>


</div>
<!--End mc_embed_signup-->
</div>
