<div class="page-width">
  <div class="logo-wrapper">
    <img class="logo" src="{{ 'logo.svg' | asset_url }}">
  </div>
  <div class="copy">
    <p>Coloral, the original cycling bottle, is making a return to the bike in Summer 2018.<br />
    Please add your details below and we will keep you informed of progress.<br />
    Thanks for your support.<p>
      <!-- Begin MailChimp Signup Form -->
  </div>
<div id="mc_embed_signup">
<form action="https://coloral.us18.list-manage.com/subscribe/post?u=008b4e9f8d09faf46d64deca8&amp;id=2d250db1cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<!--<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>-->
<div class="grid">
  <div class="grid__item medium-up--two-fifths">
    <div class="mc-field-group">
    	<!--<label for="mce-FNAME">Name</label>-->
    	<input type="text" placeholder="Name" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
  </div>
  <div class="grid__item medium-up--two-fifths">
    <div class="mc-field-group">
    <!--	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>-->
    	<input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_008b4e9f8d09faf46d64deca8_2d250db1cc" tabindex="-1" value=""></div>
  </div>
  <div class="grid__item small--one-quarter medium-up--one-fifth">
    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
  </div>
</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
  </div>
</div>
