<div class="default-page-bg">
<div class="page-width">
  <div class="text-center m-b"><h1 class="main-header outline">{{ page.title }}</h1></div>
  <div class="rte grid" style="padding:0 1rem">
    <div class="grid__item medium-up--one-sixth">&nbsp;</div>
    <div class="grid__item medium-up--two-thirds">
      <p>{{ page.content }}</p>
    </div>
  </div>
</div>
</div>
