<div class="default-page-bg">
<div class="page-width">
  <div class="text-center m-b"><h1 class="main-header outline">{{ page.title }}</h1></div>
  <div class="rte grid">
    <div class="grid__item medium-up--one-sixth">&nbsp;</div>
    <div class="grid__item medium-up--two-thirds">
      <div class="contacts-wrapper">{{ page.content }}</div>
    </div>
  </div>
</div>
</div>
