@charset "UTF-8";
/*============================================================================
  coloral1947 | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');

/*================ HOLDING PAGE ================*/

/*Colors*/
$grey: #e5e5e5;
$yellow: #fef9cf;
$green: #9bbdaa;


/*Standards*/
body{
  font-family: 'Lora', serif;
}
main{
  background: url({{ 'bg-darker.jpg' | asset_url }}) no-repeat center center;
  background-size: cover;
  min-height:100vh;
  text-align: center;
}
footer{
  background: $yellow;
  display: flex;
  padding: 1.5rem;
}
input{
 text-align: left;
 margin-top:-2px;
 @include media-query($medium-up) {
   margin-top:0;
 }
}
input[type=text],input[type=email], input[type=submit]{
  background: none;
  padding: 1rem 0;
  width:100%;
  font-family: 'Lora', serif;
    border-width: 2px 0 2px 0;
}
input[type=submit]{
  color: rgba(white,.56);
  font-weight: bold;
  border-width: 2px 0 2px 0;
}


input[type=text],input[type=email]{
  color:white !important;
}

input::placeholder{
  color:white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*MailChimp Override*/
.mc-status, .error-message{
  text-align: left;
  font-weight: bold;
  color: #FF0000;
}

.error-message{
    margin: 1rem 0;
}
.success-msg{
  color: white;
  border-style: solid;
  border-width: 2px 0 2px 0;
  display: block;
  padding: 1rem 0;
  text-align: left;
}

.display-success{
  display: none;
}

#form-wrapper.success{
  .display-input{
    display: none;
  }
  .display-success{
    display: block;
  }
}
input.mce_inline_error{
  border-color:red !important;
}

.mce_inline_error{
    background:none !important;
    color:red !important;
    padding-left: 0 !important;
    text-align: left;
}

/*Specific*/
.page-width{
  max-width:668px;
  margin:auto;
  padding:1rem;
  @include media-query($medium-up) {
    padding:1.5rem;
  }
}
.logo-wrapper{

  margin:0 auto;
  padding: 60px 0 30px;

  width:140px;
  img{
    margin-left:-30px;
  }
  @include media-query($medium-up) {
    width:130px;
    padding: 100px 0;
    img{
      margin-left:-60px;
    }
  }
}
.copy{
  line-height: 2.33em;
  color: white;
  margin-bottom: 5rem
}
