<footer>
  <div>
    <ul class="social-wrapper">
      <li><a href="https://www.facebook.com/coloral1947/">{% include 'icon-coloral-facebook' %}</a></li>
      <li><a href="https://www.instagram.com/coloral1947/?hl=en">{% include 'icon-coloral-instagram' %}</a></li>
      <li><a href="https://twitter.com/coloral1947">{% include 'icon-coloral-twitter' %}</a></li>
    </ul>
  </div>
  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
